{% extends 'base.html' %}

{% block content %}
<script>
    function goToTest(test_pk) {
        window.location = test_pk;
    }
</script>

<div class="container">
    <div class="row">
        <div id="test-search-card">
            {% if search %}
            <h3>All search options on request: "{{ search }}"</h3>
            {% else %}
            <h3>All tests:</h3>
            {% endif %}
            <div id="tests-column">
                {% for item in page_obj.object_list %}
                <div id="test-table-search" onclick="goToTest('{{ item.pk }}')">
                    <p><h4>{{ item.name }}</h4></p>
                    {% if item.description %}
                    <p>{{ item.description|truncatewords:25 }}</p>
                    {% endif %}
                    <p><h6>Creator: {{ item.user }}</h6></p>
                </div>
                {% endfor %}


                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>

{% endblock %}